<!-- Основной контейнер для чата -->
<section class="container chat">
  <!-- Шапка чата -->
  <div class="chat__header">
    <h1>Test Chat</h1>
  </div>
  <!-- Окно чата -->
  <div class="chat__window">
    <!-- Список пользователей для чата -->
    <div class="chat__user-list">
      <ul class="list-reset">
        <li>User-1</li>
        <li>User-2</li>
        <li>User-3</li>
        <li>User-4</li>
        <li>User-5</li>
        <li>User-6</li>
        <li>User-7</li>
        <li>User-8</li>
        <li>User-9</li>
        <li>User-10</li>
        <li>User-11</li>
        <li>User-12</li>
        <li>User-13</li>
        <li>User-14</li>
        <li>User-15</li>
        <li>User-16</li>
        <li>User-17</li>
        <li>User-18</li>
        <li>User-19</li>
        <li>User-20</li>
      </ul>
    </div>
    <!-- Блок для отображения сообщений -->
    <div class="chat__messages">
      <ul class="list-reset">
        <li>User-1 написал что он не знает кто такой User-40</li>
        <li>User-2 написал что он не знает кто такой User-39</li>
        <li>User-3 написал что он не знает кто такой User-38</li>
        <li>User-4 написал что он не знает кто такой User-37</li>
        <li>User-5 написал что он не знает кто такой User-36</li>
        <li>User-6 написал что он не знает кто такой User-35</li>
        <li>User-7 написал что он не знает кто такой User-34</li>
        <li>User-8 написал что он не знает кто такой User-33</li>
        <li>User-9 написал что он не знает кто такой User-32</li>
        <li>User-10 написал что он не знает кто такой User-31</li>
        <li>User-11 написал что он не знает кто такой User-30</li>
        <li>User-12 написал что он не знает кто такой User-29</li>
        <li>User-13 написал что он не знает кто такой User-28</li>
        <li>User-14 написал что он не знает кто такой User-27</li>
        <li>User-15 написал что он не знает кто такой User-26</li>
        <li>User-16 написал что он не знает кто такой User-25</li>
        <li>User-17 написал что он не знает кто такой User-24</li>
        <li>User-18 написал что он не знает кто такой User-23</li>
        <li>User-19 написал что он не знает кто такой User-22</li>
        <li>User-20 написал что он не знает кто такой User-21</li>
        <li>User-21 написал что он не знает кто такой User-20</li>
        <li>User-22 написал что он не знает кто такой User-19</li>
        <li>User-23 написал что он не знает кто такой User-18</li>
        <li>User-24 написал что он не знает кто такой User-17</li>
        <li>User-25 написал что он не знает кто такой User-16</li>
        <li>User-26 написал что он не знает кто такой User-15</li>
        <li>User-27 написал что он не знает кто такой User-14</li>
        <li>User-28 написал что он не знает кто такой User-13</li>
        <li>User-29 написал что он не знает кто такой User-12</li>
        <li>User-30 написал что он не знает кто такой User-11</li>
        <li>User-31 написал что он не знает кто такой User-10</li>
        <li>User-32 написал что он не знает кто такой User-9</li>
        <li>User-33 написал что он не знает кто такой User-8</li>
        <li>User-34 написал что он не знает кто такой User-7</li>
        <li>User-35 написал что он не знает кто такой User-6</li>
        <li>User-36 написал что он не знает кто такой User-5</li>
        <li>User-37 написал что он не знает кто такой User-4</li>
        <li>User-38 написал что он не знает кто такой User-3</li>
        <li>User-39 написал что он не знает кто такой User-2</li>
        <li>User-40 написал что он не знает кто такой User-1</li>
      </ul>
    </div>
  </div>
  <!-- Подвал чата с полем для ввода сообщений -->
  <div class="chat__footer">
    <label for="chat__add-message">Напишите сообщение:</label>
    <textarea id="chat__add-message" placeholder="Введите ваше сообщение..."></textarea>
    <button>Отправить</button>
  </div>
</section>
